Repository ISPP-2023-NGO-P3/frontend-aiding, pull requests merged in 2023-03, with the labels that each got.

#15 Despliegue continuo en gcloud
  .gcloudignore
  .github/workflows/deploy.gcloud.yml
  .github/workflows/test_node.js.yml
  .gitignore
  app.yaml
  src/App.js
  src/config.js
  src/index.js
  src/setupTests.js
Labels: enhancement, CI/CD

#22 Mapa y listado de recursos, gestión de recursos
  .gcloudignore
  .github/workflows/deploy.gcloud.yml
  .github/workflows/test_node.js.yml
  .gitignore
  app.yaml
  package-lock.json
  package.json
  public/boscoglobal-logo.png
  src/App.css
  src/App.js
  src/components/Map.js
  src/components/ResourcesListEdit.js
  src/components/layout/Footer.js
  src/components/layout/Navbar.js
  src/config.js
  src/css/mapResources.css
  src/images/React App.html
  src/images/location.png
  src/images/marker.png
  src/images/people.png
  src/index.js
  src/pages/dummy.txt
  src/pages/information/map/CreateResource.js
  src/pages/information/map/ResourcesTable.js
  src/pages/information/map/ShowResource.js
  src/pages/information/map/ShowResourceUser.js
  src/pages/information/map/UpdateResource.js
  src/pages/information/map/index.js
  src/pages/information/map/services/backend.js
  src/pages/information/map/services/openStreetMapApi.js
  src/setupTests.js
Labels: m-information

#32 feature #8: adaptado exportación de socios
  src/pages/partners/ListPartner.js
Labels: m-partners

#36 Feature issue#10
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/components/SanitizeHTML.js
  src/pages/information/advertisement/AdminCreateAdvertisement.js
  src/pages/information/advertisement/AdminListAdvertisement.js
  src/pages/information/advertisement/AdminUpdateAdvertisement.js
  src/pages/information/advertisement/CreateAdvertisement.js
  src/pages/information/advertisement/ListAdvertisement.js
  src/pages/information/advertisement/NewInfo.js
  src/pages/information/advertisement/ShowAdvertisement.js
Labels: m-information

#43 Feature issue#12
  src/components/ResourcesListEdit.js
  src/pages/information/map/CreateResource.js
  src/pages/information/map/ShowResource.js
  src/pages/information/map/ShowResourceUser.js
  src/pages/information/map/UpdateResource.js
Labels: m-information

#54 Feat#48 Registro de turnos
  src/App.js
  src/pages/volunteers/CreateTurn.js
  src/pages/volunteers/ListTurn.js
  src/pages/volunteers/ShowTurn.js
  src/pages/volunteers/UpdateTurn.js
Labels: enhancement

#57 Feature issue#2
  src/App.js
  src/pages/base/CreateUser.js
  src/pages/base/EditUser.js
  src/pages/base/Home.js
  src/pages/base/Users.js
  src/pages/base/ViewUser.js
Labels: m-base

#67 Fix #48: Eliminar turno y reorganización estética
  src/pages/volunteers/ShowTurn.js
Labels: m-volunteer
