Repository ISPP-2023-NGO-P3/frontend-aiding, pull requests merged in 2023-04, with the labels that each got.

#71 feat #65: Voluntarios y turnos
  src/App.js
  src/pages/volunteers/CreateVolunteerTurn.js
  src/pages/volunteers/ListTurn.js
  src/pages/volunteers/ShowTurn.js
Labels: m-volunteer

#74 Feature issue#20
  .github/workflows/test_node.js.yml
  .gitignore
  cypress.config.js
  cypress.yml
  cypress/e2e/Navbar.cy.js
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/component-index.html
  cypress/support/component.js
  cypress/support/e2e.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/App.js
  src/components/ResourcesListEdit.js
  src/components/layout/Navbar.js
  src/components/routes/authContext.js
  src/components/routes/axiosConfig.js
  src/pages/base/CreateUser.js
  src/pages/base/EditUser.js
  src/pages/base/Login.js
  src/pages/base/Users.js
  src/pages/base/services/backend.js
  src/pages/information/map/ShowResourceUser.js
Labels: m-base

#73 Feature issue#3
  src/pages/partners/ListPartner.js
Labels: m-partners

#75 Feature issue#10
  src/App.js
  src/components/routes/axiosConfig.js
  src/pages/error/404.js
  src/pages/information/advertisement/AdminListAdvertisement.js
  src/pages/information/advertisement/ListAdvertisement.js
  src/pages/information/advertisement/ShowAdvertisement.js
Labels: m-information

#77 Feature issue#60
  src/App.js
  src/pages/base/CreateUser.js
  src/pages/base/Users.js
  src/pages/base/ViewUser.js
  src/pages/stock/CreateItem.js
  src/pages/stock/ItemType.js
  src/pages/stock/ListItems.js
  src/pages/stock/ShowItem.js
  src/pages/stock/UpdateItem.js
  src/pages/stock/services/backend.js
Labels: m-stock

#78 Feature issue#66 to develop
  src/App.js
  src/components/layout/Navbar.js
  src/pages/information/policies/SLAs.js
  src/pages/information/policies/TermsAndPolicies.js
Labels: m-information

#82 Feature #65: Turnos y voluntarios
  src/App.js
  src/pages/volunteers/CreateTurn.js
  src/pages/volunteers/CreateVolunteerTurn.js
  src/pages/volunteers/ListTurn.js
  src/pages/volunteers/ShowTurnDraft.js
  src/pages/volunteers/ShowTurnFinished.js
  src/pages/volunteers/UpdateTurn.js
Labels: m-volunteer

#84 feature #81: booking events done
  src/App.js
  src/pages/events/BookingEvents.js
  src/pages/events/ShowEvent.js
Labels: m-event

#85 Feature issue#61
  src/App.js
  src/components/notificationContext.js
  src/pages/base/AdminCreateNotification.js
  src/pages/partners/ListPartner.js
  src/pages/volunteers/ListVolunteers.js
Labels: m-volunteer

#86 Feature issue#59 to develop
  package.json
  src/App.js
  src/components/SocialMedia.js
  src/components/layout/Navbar.js
Labels: m-base

#87 Feature #59: Cambio de posición del Compartir Aiding
  src/components/layout/Footer.js
  src/components/layout/Navbar.js
Labels: m-base

#83 Feature issue#9
  src/components/routes/axiosConfig.js
  src/images/Bosco-sello.png
  src/images/boscoglobal-logo.png
  src/pages/base/services/backend.js
  src/pages/partners/Certificate.js
  src/pages/partners/ShowPartner.js
  src/pages/partners/services/backend.js
  src/pages/stock/services/backend.js
Labels: m-partners

#91 fix #64: Validación en campos de noticias, eventos y recursos
  src/pages/events/AdminCreateEvents.js
  src/pages/events/AdminUpdateEvents.js
  src/pages/events/BookingEvents.js
  src/pages/information/advertisement/AdminCreateAdvertisement.js
  src/pages/information/advertisement/AdminListAdvertisement.js
  src/pages/information/map/CreateResource.js
  src/pages/information/map/UpdateResource.js
Labels: bug

#95 Feature issue#64
  src/App.js
  src/components/AntiSpam.js
  src/components/layout/Navbar.js
  src/components/routes/ProtectedRoute.js
  src/pages/base/CreateContact.js
  src/pages/base/CreateUser.js
  src/pages/base/EditUser.js
  src/pages/base/ShowContact.js
  src/pages/events/AdminCreateEvents.js
  src/pages/events/AdminUpdateEvents.js
  src/pages/events/BookingEvents.js
  src/pages/events/ProgramedEvent.js
  src/pages/events/ShowEvent.js
  src/pages/events/StartedEvent.js
  src/pages/information/advertisement/AdminCreateAdvertisement.js
  src/pages/information/advertisement/AdminListAdvertisement.js
  src/pages/information/advertisement/AdminUpdateAdvertisement.js
  src/pages/information/map/CreateResource.js
  src/pages/information/map/ResourcesTable.js
  src/pages/information/map/ShowResource.js
  src/pages/information/map/UpdateResource.js
  src/pages/partners/CreateCommunication.js
  src/pages/partners/CreateDonation.js
  src/pages/partners/CreatePartner.js
  src/pages/partners/ListPartner.js
  src/pages/partners/ShowPartner.js
  src/pages/partners/UpdateCommunication.js
  src/pages/partners/UpdatePartner.js
  src/pages/stock/CreateItem.js
  src/pages/stock/ItemType.js
  src/pages/stock/ListItems.js
  src/pages/stock/UpdateItem.js
  src/pages/volunteers/CreateTurn.js
  src/pages/volunteers/CreateVolunteer.js
  src/pages/volunteers/CreateVolunteerTurn.js
  src/pages/volunteers/ListVolunteers.js
  src/pages/volunteers/ShowVolunteer.js
  src/pages/volunteers/UpdateTurn.js
  src/pages/volunteers/UpdateVolunteer.js
Labels: bug
